#pageBack{
  background: linear-gradient(130deg, rgba(44, 255, 121,.3), rgba(214, 255, 229,.1)), url('https://i.imgur.com/j80vxpP.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1000px;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;}
#title{
  font-family: "Bungee Shade", "cursive";
  font-size: 4vw;
  color: #FFC52C;
  font-weight: 100;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  text-align: center;
  height: 10%;
  width: 70%;
  max-width: 100%;
  max-height: 15%;
  margin: auto;
  border: 10px double #FFC52C;}
#superText{
  font-family: "Bebas Neue", "cursive";
  font-size: 2vw;}
#description{
  text-align: center;
  margin: 2% auto;
  font-family: "Bebas Neue", "cursive";
  font-size: 3vw;}
#survey-form{
  margin: 5% auto;
  background: linear-gradient(130deg, rgba(71, 89, 246,0.7), rgba(214, 255, 229,0.7));
  background-postiion: center;
  background-repeat: no-repeat;
  min-height: 1500px;
  width: 60%;
  height: 100%;
  max-height: 100%;
  max-width: 60%;
  border: 3px groove black;}
  #labelPos{
    display:flex;
    flex-direction: column;
    font-family: "Bebas Neue", "cursive";
    font-size: 3vw;
    line-height: 4vw;
    align-text: left;
    margin:2vw 2vw;}
    #name{
      font-family: "Merriweather", "serif";
      font-size: 1.5vw;
      color: #282D57;
      margin: 0.3vw 2vw 2vw 0vw;
      min-width:95%;
      width: 95%;
      height: 2.5vw;
      max-width: 95%;
      max-height: 2.5vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #email{
      font-family: "Merriweather", "serif";
      font-size: 1.5vw;
      color: #282D57;
      margin: 0.3vw 2vw 2vw 0vw;
      min-width:95%;
      width: 95%;
      height: 2.5vw;
      max-width: 95%;
      max-height: 2.5vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #number{
      font-family: "Merriweather", "serif";
      font-size: 1.5vw;
      color: #282D57;
      margin: 0.3vw 2vw 2vw 0vw;
      min-width:95%;
      width: 95%;
      height: 2.5vw;
      max-width: 95%;
      max-height: 2.5vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #dropdown{
      font-family: "Merriweather", "serif";
      font-size: 1.5vw;
      color: #282D57;
      margin: 0.3vw 2vw 2vw 0vw;
      min-width:96%;
      width: 96%;
      height: 2.5vw;
      max-width: 96%;
      max-height: 2.5vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #radioDiv{
      text-align: left;
      margin: 0.3vw 0vw 0vw 2vw;}
      #social{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #traditional{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #friend{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #other{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #checkboxDiv{
      text-align: left;
      margin: 0.3vw 0vw 0vw 2vw;}
      #money{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #benefits{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #comp{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #lock{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
      #posit{
      font-family: "Merriweather", "serif";
      font-size: 1vw;
      color: #282D57;
      position: absolute;
      right: 73%;
      margin: 0.3vw 0vw 0vw 0vw;
      min-width: 10%;
      width: 10%;
      height: 2vw;
      max-width: 10%;
      max-height: 2vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #comment{
      font-family: "Merriweather", "serif";
      font-size: 1.5vw;
      word-wrap: break-word;
      word-break: break-all;
      color: #282D57;
      margin: 0.3vw 2vw 2vw 0vw;
      min-width:95%;
      width: 95%;
      height: 20vw;
      max-width: 95%;
      max-height: 20vw;
      border: 1px solid #282D57;
      border-radius: 2%;
      background: white;}
    #submit{
      font-family: "Bebas Neue", "cursive";
      font-size: 3vw;
      position: relative;
      left: 9%;
      color: black;
      margin: 2vw auto 2vw auto;
      min-width: 30%;
      width: 80%;
      height: 5vw;
      max-width: 80%;
      max-height: 5vw;
      border: 5px hidden #09146F ;
      border-radius: 50px;
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);}